@page
@model Web.Pages.Cuenta.CambiarContrasenaModel
@{
}
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('/img/fondo.png');
            background-size: cover;
            background-position: center;
            border-radius: 40px
        }
    </style>
</head>

<div class="container" style="margin-top:170px;">
        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-lg-8 col-md-10">
                <div class="row">
                    <div class="col-md-8 border-end" style="background-color:white; border-radius:20px">
                        <div class="text-center mb-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Squarespace_logo.svg/768px-Squarespace_logo.svg.png" alt="Logo" width="40">
                            <h4 class="mt-3">Cambiar contraseña</h4>
                        </div>
                        <form method="post">
                            <div class="mb-3">
                            <label for="passwordAnterior" class="form-label">Contraseña anterior</label>
                            <input type="password" id="passwordAnterior" class="form-control input-squarespace" placeholder="Contraseña anterior" asp-for="loginInfo.Password">
                                <div class="input-group mb-3">
                                <span asp-validation-for="loginInfo.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="passwordNueva" class="form-label">Contraseña nueva</label>
                                <div class="input-group">
                                <input type="password" id="passwordNueva" class="form-control input-squarespace" placeholder="Contraseña nueva" asp-for="cambiarContrasena.NuevaContraseña">
                                    <span class="input-group-text bg-white border-0">
                                        <i class="bi bi-eye"></i>
                                    </span>
                                </div>
                            </div>
                        <div class="mb-3">
                            <label for="passwordNuevaConfirmacion" class="form-label">Confirmar contraseña</label>
                            <div class="input-group">
                                <input type="password" id="passwordNuevaConfirmacion" class="form-control input-squarespace" placeholder="Confirmar contraseña" asp-for="cambiarContrasena.ConfirmarContrasena">
                                <span class="input-group-text bg-white border-0">
                                    <i class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>

                            @if (Model.token is not null && Model.token.ValidacionExitosa == false)
                            {
                                <div class="alert alert-warning" role="alert">
                                    Contraseña actual incorrecta
                                </div>
                            }
                            <button class="w-100 btn-creative" type="submit">Iniciar session</button>
                        </form>

                        <div class="text-center mt-3 small">
                            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>

                        </div>
                    </div>


                    

                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/navcategorias.js"></script>
}

