<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/contacto.css">
</head>
<body>
	 <section class="ezy__footer4 light">
    <nav>
          <div class="col-12 d-flex align-items-center justify-content-center" style="background-color: rgb(104, 94, 163) !important;">
  <h1 class="me-3 text-white">Sumicomp</h1>
  <img src="../assets/img/image.png" alt="" style="max-height: 60px;">
</div>
          <div>
            <ul class="ezy__footer4-nav nav justify-content-center my-4 my-lg-5">
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./ubicanos.html">Ubicanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./detallesServicios.html">Quienes somos</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 d-flex justify-content-center justify-content-lg-end text-center text-lg-end mt-1">
          </div>
    </nav>
  </section>
    <section class="ezy__contact10 light">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6 order-lg-2 mb-3 mb-lg-0">
				<div class="ezy__contact10-bg-holder h-100 d-flex align-items-center py-5"
					style="background-image: url(../assets/img/proveedor.png);">
					<div class="ezy__contact10-links">
						<div class="card ezy__contact10-link">
							<div class="card-body d-flex align-items-center">
								<i class="fas fa-envelope-open-text ezy__contact10-icon fs-3 px-2"></i>
								<a class="ezy__contact10-link-content ms-4"
									href="mailto:info@sumicomp.net">info@sumicomp.net</a>
							</div>
						</div>
						<div class="card ezy__contact10-link mt-4">
							<div class="card-body d-flex align-items-center">
								<i class="fas fa-phone-alt ezy__contact10-icon fs-3 px-2"></i>
								<a class="ezy__contact10-link-content ms-4" href="callto:4040-0381">+506
									4040-0381</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="card ezy__contact10-form-card">
					<div class="card-body p-md-5">
						<h2 class="ezy__contact10-heading mb-3">Contactanos</h2>
						<p class="ezy__contact10-sub-heading mb-5">Escribemos estaremos para ayudarte en lo que ocupes
							.</p>

						<form>
							<div class="form-group mb-3 mt-2">
								<input type="text" class="form-control" placeholder="Nombre" />
							</div>
							<div class="form-group mb-3 mt-2">
								<input type="email" class="form-control" placeholder="Correo electronico" />
							</div>
							<div class="form-group mb-3">
								<textarea name="message" class="form-control" placeholder="Escribe tu mensaje"
									rows="3"></textarea>
							</div>
							<div class="text-end">
								<button type="submit" class="btn btn-primary ezy__contact10-btn">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
</html> 