@page
@model Web.Pages.Productos.InventarioModel
@{
}

<head>
    <link href="~/css/modales.css" rel="stylesheet" />
    <link href="~/css/inventario.css" rel="stylesheet" />
</head>


<body>
    
    

    <div class="container-fluid mt-5">

        
       


        


        
    </div>
    


</body>
